<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title || pageTitle %}<title>{{ page_meta.html_title || pageTitle }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ require_css(get_asset_url("../../css/main.css")) }}
    {# This is intended to be used if a template requires template specific style sheets #}
    {% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}
    {{ require_css(get_asset_url("../../css/theme-overrides.css")) }}
    {# TODO include only in the modules or theme settings require it #}
    {# AWESOME external css #}
    {# require_css(get_asset_url('../../css/awesome-external/jquery.fancybox.min.css'), "async") #}
    {# require_css(get_asset_url('../../css/awesome-external/jquery.modal.min.css'), "async") #}
    {# require_css(get_asset_url('../../css/awesome-external/aos.css'), "async") #}
    {# To see a full list of what is included via standard_header_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_header_includes }}
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">
      {% block header %}
        {% global_partial path='../partials/header.html' %}
      {% endblock header %}

      {# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

      <main id="main-content" class="body-container-wrapper">
        {% block body %}
        {% endblock body %}
      </main>

      {% block footer %}
        {% global_partial path='../partials/footer.html' %}
      {% endblock footer %}
    </div>
    <div class="totop"></div>
    {{ require_js(get_asset_url('../../js/main.js')) }}
    {# TODO include only in the modules or theme settings require it #}
    {# AWESOME external js #}
    {# require_js("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js", { defer:true }) #}
    {# require_js(get_asset_url("../../js/awesome-external/jquery.fancybox.min.js"), { defer:true }) #}
    {# require_js(get_asset_url("../../js/awesome-external/jquery.modal.min.js"), { defer:true }) #}
    {# require_js(get_asset_url("../../js/awesome-external/aos.min.js"), { defer:true }) #}
    {# require_js(get_asset_url("../../js/awesome-external/simple-parallax.min.js"), { defer:true }) #}
    {{ require_js(get_asset_url("../../js/awesome.js"), { defer:true }) }}
    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}
  </body>
</html>
